:root {
    --rosewater: hsl(10, 56%, 91%);
    --flamingo: hsl(0, 57%, 88%);
    --pink: hsl(316, 72%, 86%);
    --mauve: hsl(267, 84%, 81%);
    --red: hsl(343, 81%, 75%);
    --maroon: hsl(350, 65%, 77%);
    --peach: hsl(23, 92%, 75%);
    --yellow: hsl(41, 86%, 83%);
    --green: hsl(115, 54%, 76%);
    --teal: hsl(170, 57%, 73%);
    --sky: hsl(189, 71%, 73%);
    --sapphire: hsl(198, 76%, 69%);
    --blue: hsl(217, 92%, 76%);
    --lavender: hsl(232, 97%, 85%);
    --text: #cad3f5;
    --subtext1: #b8c0e0;
    --subtext0: #a5adcb;
    --overlay2: #939ab7;
    --overlay1: #8087a2;
    --overlay0: #6e738d;
    --surface2: #5b6078;
    --surface1: #494d64;
    --surface0: #363a4f;
    --base: #24273a;
    --mantle: #1e2030;
    --crust: #181926;

    --cursor-default: url("/assets/cursors/default.cur");
    --cursor-link: url("/assets/cursors/link.cur");
}

* {
    font-family: "Torus", serif;
    box-sizing: border-box;
    line-height: 1.5;

    cursor: var(--cursor-default), auto;
}

.noAnimations * {
    transition: none !important;

    animation: none !important;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    min-height: 100vh;

    color: var(--text);
    background-color: var(--crust);

    width: 100%;
    max-width: 1000px;
    margin: auto;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
}

img {
    border: 1px outset var(--overlay0);
    border-radius: 8px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: normal;
}

p,
a,
body {
    font-size: 11pt;
}

p {
    margin: 0 0 15px;
}

h1 {
    font-size: 64px;
    margin-bottom: 5px;
    font-feature-settings: "rlig" 1,"calt" 1,"ss01" 1;
}

h2 {
    font-size: 48px;
    margin-bottom: 5px;
    font-feature-settings: "rlig" 1,"calt" 1,"ss01" 1;
}

h3 {
    font-size: 36px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 18px;
}
h6 {
    font-size: 12px;
}

header {
    margin-bottom: 25px;
}

header::after {
    content: "";
    display: block;
    height: 1px;
    background-color: var(--surface1);
    left: 0;
    right: 0;
    bottom: 0;
}

hr {
    background: linear-gradient(to right, var(--surface2), var(--overlay2));
    height: 1px;
    border: 0;
}

ul {
    padding-left: 15px;
}

ul ul,
details details {
    padding-left: 15px;
}

summary {
    color: var(--pink);
    transition: 0.1s;
    user-select: none;
}
summary:hover {
    text-decoration: none;
    cursor: pointer;
}
details[open] summary {
    color: var(--yellow);
    transition: 0.1s;
    padding-left: 10px;
}

@media screen and (max-width: 800px) {
    body {
        padding: 0;
    }

    .content,
    .header {
        width: 100%;
        min-width: 0;
        border-radius: 0;
    }
}

.background {
    width: 110%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    --s: 60px;
    --c1: var(--mantle);
    --c2: var(--base);

    --_g: radial-gradient(25% 25% at 25% 25%,var(--c1) 99%,#0000 101%);
    background:
            var(--_g) var(--s) var(--s)/calc(2*var(--s)) calc(2*var(--s)),
            var(--_g) 0 0/calc(2*var(--s)) calc(2*var(--s)),
            radial-gradient(50% 50%,var(--c2) 98%,#0000) 0 0/var(--s) var(--s),
            repeating-conic-gradient(var(--c2) 0 25%,var(--c1) 0 50%)
            calc(.5*var(--s)) 0/calc(2*var(--s)) var(--s);
    opacity: 0.8;
    animation: background 3s linear infinite;
}
@keyframes background {
    from {
        left: 0;
    }
    to {
        left: -120px;
    }
}

.transition {
    background-color: var(--crust);
    backface-visibility: hidden;

    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    pointer-events: none;
}
.transitionOut {
    animation: fadeOut 0.5s ease-out forwards
}
.transitionIn {
    animation: fadeIn 0.2s ease-in backwards;
}

a {
    text-decoration: none;
    transition: 0.1s;
    color: var(--pink);
}

a:hover {
    text-decoration: underline;
    cursor: var(--cursor-link), auto;
}

button,
.button {
    all: unset;
    padding: 6px 16px 6px 16px;
    min-width: 50px;
    text-align: center;
    background-color: var(--surface0);
    border-radius: 30px;
    pointer-events: auto;
    transition: 0.2s;
    overflow: hidden;
    position: relative;
}

button:hover,
.button:hover {
    text-decoration: none;
    background-color: var(--surface1);
}

.card {
    width: 100%;
    padding: 10px 20px 20px 20px;
    border: 2px solid var(--surface0);
    border-image: none;
    border-radius: 30px;
    background-color: var(--base);
    position: relative;
    z-index: 0;
    transition: 0.2s;
}
.card:hover {
    border-color: var(--pink);
}

.tag {
    background-color: var(--surface0);
    border: 2px solid var(--text);
    border-radius: 30px;
    color: var(--text);
    display: inline-block;
    font-weight: bold;
    padding: 3px 8px;
}

table {
    border-collapse: separate;
    border: 1px solid var(--surface2);
    border-radius: 8px;
    background: color-mix(in srgb, var(--base), transparent 40%);
    font-size: 12px;
    width: 100%;
}

td, th {
    border-top: 1px solid var(--surface2);
    font-size: 12px;
    padding: 2px;
}

th {
    border-radius: 6px 6px 0 0;
    border-top: none;
}

td:first-child, th:first-child {
    border-left: none;

}

.stack {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.split {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.split > div {
    flex: 1 1 0;
    width: 100%;
}

span.ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 0.5s linear;
    background-color: var(--overlay2);
    pointer-events: none;
}
@keyframes ripple {
    to {
        transform: scale(4);
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@font-face {
    font-family: "Torus";
    font-style: normal;
    font-display: swap;
    src: url("/assets/fonts/Torus-Regular.woff");
}
@font-face {
    font-family: "Torus";
    font-weight: bold;
    font-display: swap;
    src: url("/assets/fonts/Torus-Semibold.woff");
}

@font-face {
    font-family: "Torus";
    font-weight: 200;
    font-display: swap;
    src: url("/assets/fonts/Torus-Light.woff");
}

@font-face {
    font-family: "Seven Segment";
    font-style: normal;
    font-display: swap;
    src: url("/assets/fonts/sevensegment.woff");
}

@media screen and (prefers-reduced-motion: reduce) {
    * {
        transition: none !important;
        animation: none !important;
    }
}
@media (max-width: 600px) {
    .split {
        flex-direction: column;
    }
}