:root {
    --rosewater: hsl(10, 56%, 91%);
    --flamingo: hsl(0, 57%, 88%);
    --pink: hsl(316, 72%, 86%);
    --mauve: hsl(267, 84%, 81%);
    --red: hsl(343, 81%, 75%);
    --maroon: hsl(350, 65%, 77%);
    --peach: hsl(23, 92%, 75%);
    --yellow: hsl(41, 86%, 83%);
    --green: hsl(115, 54%, 76%);
    --teal: hsl(170, 57%, 73%);
    --sky: hsl(189, 71%, 73%);
    --sapphire: hsl(198, 76%, 69%);
    --blue: hsl(217, 92%, 76%);
    --lavender: hsl(232, 97%, 85%);
    --text: hsl(226, 64%, 88%);
    --subtext1: hsl(227, 10%, 80%);
    --subtext0: hsl(228, 10%, 70%);
    --overlay2: hsl(228, 10%, 65%);
    --overlay1: hsl(230, 10%, 60%);
    --overlay0: hsl(231, 10%, 55%);
    --surface3: hsl(233, 10%, 50%);
    --surface2: hsla(232, 10%, 45%);
    --surface1: hsla(237, 10%, 35%);
    --surface0: hsla(235, 10%, 25%);
    --base: hsla(240, 10%, 20%);
    --mantle: hsla(240, 10%, 16%);
    --crust: hsla(240, 10%, 12%);

    --surface2-a: hsla(232, 10%, 45%, 0.5);
    --surface1-a: hsla(237, 10%, 35%, 0.5);
    --surface0-a: hsla(235, 10%, 25%, 0.5);
    --base-a: hsla(240, 10%, 20%, 0.5);
    --mantle-a: hsla(240, 10%, 16%, 0.5);
    --crust-a: hsla(240, 10%, 12%, 0.5);
    
    --el-grad: linear-gradient(var(--surface2) 45%, var(--surface1) 55%);
    --el-grad-h: linear-gradient(var(--overlay0) 45%, var(--surface2) 55%);
    --el-grad-a: linear-gradient(#e5f4fc, #c4e5f6 30% 50%, #98d1ef 50%, #68b3db);

    --cursor-default: url("/assets/cursors/default.cur");
    --cursor-link: url("/assets/cursors/link.cur");
}

* {
    font-family: "Torus", serif;
    box-sizing: border-box;
    line-height: 1.5;

    cursor: var(--cursor-default), auto;
}

.noAnimations * {
    transition: none !important;

    animation: none !important;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    min-height: 100vh;

    color: var(--text);
    background-color: var(--crust);

    width: 100%;
    max-width: 1000px;
    margin: auto;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
}

img {
    border: 1px outset var(--overlay0);
    border-radius: 8px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p,
a,
body {
    font-size: 11pt;
}

p {
    margin: 0 0 15px;
}

h1 {
    font-size: 64px;
    margin-bottom: 5px;
}

h2 {
    font-size: 48px;
    margin-bottom: 5px;
}

h3 {
    font-size: 36px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 18px;
}
h6 {
    font-size: 12px;
}

header {
    margin-bottom: 25px;
}

header::after {
    content: "";
    display: block;
    height: 1px;
    background-color: var(--surface1);
    left: 0;
    right: 0;
    bottom: 0;
}

hr {
    background: linear-gradient(to right, var(--surface2), var(--overlay2));
    height: 1px;
    border: 0;
}

ul {
    padding-left: 15px;
}

ul ul,
details details {
    padding-left: 15px;
}

summary {
    color: var(--pink);
    transition: 0.1s;
    user-select: none;
}
summary:hover {
    text-decoration: none;
    cursor: pointer;
}
details[open] summary {
    color: var(--yellow);
    transition: 0.1s;
    padding-left: 10px;
}

@media screen and (max-width: 800px) {
    body {
        padding: 0;
    }

    .content,
    .header {
        width: 100%;
        min-width: 0;
        border-radius: 0;
    }
}

.background {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: url(/assets/images/background.jpg);
    background-size: cover;
    opacity: 0.2;
}

.transition {
    background-color: var(--crust);
    backface-visibility: hidden;

    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    pointer-events: none;
}
.transition > h1 {
    line-height: 0;
    margin-bottom: 25px;
    font-size: 100px;
}
.transitionOut {
    animation: fadeOut 0.5s ease-out forwards
}
.transitionIn {
    animation: fadeIn 0.2s ease-in backwards;
}

a {
    text-decoration: none;
    transition: 0.1s;
    color: var(--pink);
}

a:hover {
    text-decoration: underline;
    cursor: var(--cursor-link), auto;
}

button,
.button {
    all: unset;
    padding: 6px 16px 6px 16px;
    min-width: 50px;
    text-align: center;
    background-color: var(--base-a);
    border-radius: 30px;
    pointer-events: auto;
    transition: 0.25s;
}

button:hover,
.button:hover {
    text-decoration: none;
    background-color: var(--surface1-a);
}

button:active,
.button:active {
    background: var(--pink);
    color: black;
    font-weight: bold;
}

.card {
    width: 100%;
    padding: 10px 20px 20px 20px;
    border: 2px solid var(--surface1);
    border-image: none;
    border-radius: 30px;
    background-color: var(--base-a);
    position: relative;
    backdrop-filter: blur(12px) brightness(0.8);
    z-index: 0;
    transition: 0.2s;
}
.card:hover {
    border-color: var(--pink);
}

table {
    border-collapse: separate;
    border: 1px solid var(--surface3);
    border-radius: 8px;
    background: color-mix(in srgb, var(--surface0), transparent 40%);
    font-size: 12px;
    width: 100%;
}

td, th {
    border-top: 1px solid var(--surface3);
    font-size: 12px;
    padding: 2px;
}

th {
    border-radius: 6px 6px 0 0;
    border-top: none;
}

td:first-child, th:first-child {
    border-left: none;
    
}

.stack {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.split {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.split > div {
    flex: 1 1 0;
    width: 100%;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@font-face {
    font-family: "Torus";
    font-style: normal;
    font-display: swap;
    src: url("/assets/fonts/Torus-Regular.woff");
}
@font-face {
    font-family: "Torus";
    font-weight: bold;
    font-display: swap;
    src: url("/assets/fonts/Torus-Semibold.woff");
}

@font-face {
    font-family: "Torus";
    font-weight: 200;
    font-display: swap;
    src: url("/assets/fonts/Torus-Light.woff");
}

@font-face {
    font-family: "Seven Segment";
    font-style: normal;
    font-display: swap;
    src: url("/assets/fonts/sevensegment.woff");
}

@media screen and (prefers-reduced-motion: reduce) {
    * {
        transition: none !important;
        animation: none !important;
    }
}
@media (max-width: 600px) {
    .split {
        flex-direction: column;
    }
}