:root {
    --rosewater: #f5e0dc;
    --flamingo: #f2cdcd;
    --pink: #f5c2e7;
    --mauve: #cba6f7;
    --red: #f38ba8;
    --maroon: #eba0ac;
    --peach: #fab387;
    --yellow: #f9e2af;
    --green: #a6e3a1;
    --teal: #94e2d5;
    --sky: #89dceb;
    --sapphire: #74c7ec;
    --blue: #89b4fa;
    --lavender: #b4befe;
    --text: #cdd6f4;
    --subtext1: #bac2de;
    --subtext0: #a6adc8;
    --overlay2: #9399b2;
    --overlay1: #7f849c;
    --overlay0: #6c7086;
    --surface3: #585b70;
    --surface2: #45475a;
    --surface1: #313244;
    --surface0: #242535;
    --base: #1e1e2e;
    --mantle: #181825;
    --crust: #11111b;
}

* {
    font-family: 'Fira Code', serif;
    box-sizing: border-box;
    line-height: 1.5;
}
.noAnimations * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;

    animation: none !important;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px;

    color: var(--text);
    background-color: var(--base);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    margin-bottom: 10px;
}

b {
    color: var(--pink);
}

header {
    margin-bottom: 25px;
}
header::after {
    content: "";
    display: block;
    height: 1px;
    background-color: var(--surface1);
    left: 0;
    right: 0;
    bottom: 0;
}

ul, summary {
    padding-left: 0;
    list-style-type: none;
} 
ul li:before {
    content: '>';
    font-weight: bold;
    color: var(--pink);
    padding-right: 5px;
}
summary:before {
    content: '>';
    font-weight: bold;
    color: var(--pink);
    padding-right: 5px;
}
summary:active:before {
    content: '\/';
}


@media screen and (max-width: 800px) {
    body {
        padding: 0;
    }
    .content, .header {
        width: 100%;
        min-width: 0;
        border-radius: 0;
    }
}

.split {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.split > div {
    flex: 1 1 0;
    width: 100%;
    display: flex;
}


.background {
    background-image: repeating-linear-gradient(-45deg, transparent, transparent 32px, var(--base) 32px, var(--base) 64px);
    background-color: var(--mantle);
    opacity: 0.3;

    animation: forwards 2s background linear infinite;

    width: 120%;
    height: 120%;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;

    z-index: -1;
}

button {
    all: unset;
    cursor: pointer;
    display: inline-block;
}

a, button {
    text-decoration: none;
    transition: 0.1s;
    color: var(--pink);
}

a::before, button::before {
    content: "[";
}

a::after, button::after {
    content: "]";
}

a:hover,
button:hover {
    background-color: var(--pink);
    color: var(--base);
    font-weight: bold;
}

a:hover::before,
a:hover::after,
button:hover::before,
button:hover::after {
    color: var(--base);
}

a[data-color="red"] {
    color: var(--red);
}
a[data-color="yellow"] {
    color: var(--yellow);
}
a[data-color="green"] {
    color: var(--green);
}
a[data-color="blue"] {
    color: var(--blue);
}
a[data-color="mauve"] {
    color: var(--mauve);
}

.card {
    width: 100%;
    padding: 15px 15px 15px 15px;
    border: 1px solid var(--surface1);
    border-radius: 10px;
    background-color: var(--base);

    font-size: 14px;
}

.card>.cardTitle {
    margin-top: 0;
}
.card>p {}
.popup>.card>button, .popup>.card>.button {
    width: 100%;
    margin-top: 10px;
}

.popup {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(15px);
    background-color: rgba(17, 17, 27, 0.75);
    z-index: 99;
}
.popup>.card {
    width: fit-content;
    background-color: var(--base);
}


.profile {
    border-radius: 100%;
    aspect-ratio: 1;
}

.tag {
    width: fit-content;
    padding: 4px 8px;
    border: 1px solid var(--pink);
    border-radius: 100px;
    color: var(--pink);
    display: inline-block;
}

hr {
    color: var(--surface0);
}


@keyframes background {
    0% {
        transform: translate(0px);
    }
    100% {
        transform: translateX(-46px) translateY(-46px);
    }
}

@font-face {
    font-family: 'Fira Code';
    font-style: normal;
    src: url('/media/fonts/firacode.woff');
}
@font-face {
    font-family: 'Seven Segment';
    font-style: normal;
    src: url('/media/fonts/sevensegment.woff');
}