:root {
    --rosewater: #f5e0dc;
    --flamingo: #f2cdcd;
    --pink: #f5c2e7;
    --mauve: #cba6f7;
    --red: #f38ba8;
    --maroon: #eba0ac;
    --peach: #fab387;
    --yellow: #f9e2af;
    --green: #a6e3a1;
    --teal: #94e2d5;
    --sky: #89dceb;
    --sapphire: #74c7ec;
    --blue: #89b4fa;
    --lavender: #b4befe;
    --text: #cdd6f4;
    --subtext1: #bac2de;
    --subtext0: #a6adc8;
    --overlay2: #9399b2;
    --overlay1: #7f849c;
    --overlay0: #6c7086;
    --surface3: #585b70;
    --surface2: #45475a;
    --surface1: #313244;
    --surface0-5: #2c2c3d;
    --surface0: #242535;
    --base: #1e1e2e;
    --mantle: #181825;
    --crust: #11111b;

    --cursor-default: url('/assets/cursors/default.cur');
    --cursor-link: url('/assets/cursors/link.cur')
}

* {
    font-family: 'Fira Code', serif;
    box-sizing: border-box;
    line-height: 1.5;

    cursor: var(--cursor-default), auto;
}

.noAnimations * {
    transition: none !important;

    animation: none !important;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    min-height: 100vh;

    color: var(--text);
    background-color: var(--crust);

    width: 800px;
    max-width: 800px;
    margin: auto;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
}

img {
    image-rendering: pixelated;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    margin: 0;
}

p,
a,
body {
    font-size: 12px;
}

p {
    margin: 0;
    margin-bottom: 15px;
}

h1 {
    font-size: 20px;
    margin-bottom: 5px;
}

h2 {
    font-size: 16px;
    margin-bottom: 5px;
}

h3 {
    font-size: 14px;
}

h4 {
    font-size: 13px;
}

h5 {
    font-size: 12px;
}

header {
    margin-bottom: 25px;
}

header::after {
    content: "";
    display: block;
    height: 1px;
    background-color: var(--surface1);
    left: 0;
    right: 0;
    bottom: 0;
}

ul {
    padding-left: 0;
    list-style-type: none;
    margin: 0;
}

ul ul,
details details {
    padding-left: 15px;
}

summary {
    color: var(--pink);
}

summary:hover {
    text-decoration: underline dotted;
    cursor: pointer;
}

details summary::marker,
ul li:before {
    content: '> ';
    font-weight: bold;
    color: var(--pink);
}

details[open] summary::marker {
    font-weight: 500;
    ;
    content: "v ";
}

@media screen and (max-width: 800px) {
    body {
        padding: 0;
    }

    .content,
    .header {
        width: 100%;
        min-width: 0;
        border-radius: 0;
    }
}


.background {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;

    z-index: -1;

    background-image: url("/assets/art/background.png");
    opacity: 1;
}

a {
    text-decoration: none;
    transition: 0.1s;
    color: var(--pink);
}

a:hover {
    text-decoration: underline;
    cursor: var(--cursor-link), auto;
}

button,
.button {
    all: unset;
    padding: 2px 8px 2px 8px;
    min-width: 50px;
    text-align: center;
    background-color: var(--surface2);
    border: 2px outset var(--surface3);
    pointer-events: auto;
    text-shadow: 1px 1px var(--crust);
}

button:hover,
.button:hover {
    text-decoration: none;
}

button::selection,
.button::selection {
    background: transparent;
}

button:active,
.button:active {
    background-color: var(--surface1);
    border: 2px inset var(--surface1);
    color: var(--overlay2);
    text-shadow: none;
    ;
}

.card {
    width: 100%;
    padding: 0;

    border: 1px solid var(--surface2);
    background-image: linear-gradient(180deg, var(--surface1), var(--surface0));
    position: relative;
    box-shadow: 2px 2px 2px var(--mantle);
    z-index: 0;
}

.card-title,
.messagebox-title {
    padding: 1px 5px;
    background-image: linear-gradient(270deg, var(--surface2), var(--surface1));
    font-weight: bold;
    border-bottom: inherit;
}

.card-content,
.messagebox-content {
    padding: 10px;
}

.card-buttons,
.messagebox-buttons {
    padding: 0 7px 7px 5px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: right;
}

.messagebox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    width: 400px;
    min-height: 100px;
    box-shadow: 4px 4px 4px var(--mantle);
    background-color: var(--surface1);
    border: 2px outset var(--surface2);
}

.messagebox-title {}

.messagebox-content {
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 10px;
}




.card::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/assets/interlace.png");
    background-size: 2px;
    opacity: 0.04;
    z-index: -1;
    image-rendering: pixelated;
    pointer-events: none;
}

.card>* {
    z-index: 5;
}

.popup>.card>button,
.popup>.card>.button {
    width: 100%;
    margin-top: 10px;
}

.popup {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(15px);
    background-color: rgba(17, 17, 27, 0.75);
    z-index: 99;
}

.popup>.card {
    width: fit-content;
    background-color: var(--base);
}


.profile {
    aspect-ratio: 1;
    border: 1px solid var(--overlay1);
}

.tag {
    width: fit-content;
    padding: 2px 8px;
    border: 1px solid var(--pink);
    border-radius: 100px;
    color: var(--pink);
    display: inline-block;
}

.stack {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.split {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.split>div {
    flex: 1 1 0;
    width: 100%;
}

hr {
    color: var(--surface3)
}

textarea,
input {
    all: unset;
    border: 1px solid var(--surface2);
    border-radius: 4px;
    padding: 2px 5px 0px 5px;
}


table {
    width: 100%;
    background-color: var(--surface1);
    border-collapse: collapse;
}

th {
    background-color: var(--surface2);
    border: 3px outset var(--surface3);
}

td {
    border: 1px inset var(--surface2);
    padding-left: 5px;
}

.fadeIn {
    animation: fadeIn 0.5s steps(6);
}

.fadeOut {
    animation: fadeOut 0.5s steps(6);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@font-face {
    font-family: 'Fira Code';
    font-style: normal;
    src: url('/assets/fonts/firacode.woff');
}

@font-face {
    font-family: 'Seven Segment';
    font-style: normal;
    src: url('/assets/fonts/sevensegment.woff');
}

@media screen and (prefers-reduced-motion: reduce) {
    * {
        transition: none !important;
        animation: none !important;
    }
}