---
title: olifurz
---
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} ~ olifurz.com</title>
    <link rel="stylesheet" href="/assets/styles.css" />
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
</head>

<body>
    <div class="background"></div>
    {{ content }}
</body>
<script src="https://cdn.jsdelivr.net/npm/appwrite@17.0.0"></script>
<script src="/scripts/api.js" type="module"></script>

</html>