---
title: olifurz
category: 1
---

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/media/styles.css"/>
    <style>
      .popup {
          display: none;
      }
      @keyframes exit {
          from {
              opacity: 1;
          }
          to {
              opacity: 0;
          }
      }
      @keyframes exitCard {
          from {
              opacity: 1;
          }
          to {
              opacity: 0;
              transform: scale(0);
          }
      }

      .topbar {
          width: fit-content;
          min-width: 800px;

          display: flex;
          flex-direction: row;
          align-items: end;
          z-index: 5;
      }

      .title {
          margin: 0;
          transform: translateX(-60px) translateY(25px) rotateZ(-5deg);
          font-size: 56px;
          font-weight: 800;
          color: var(--pink);
      }

      .nav {
          display: flex;
          flex-direction: row;
          align-items: end;
          justify-content: end;

          margin-left: -50px;
          position: relative;;
      }

      .nav > a {
          text-decoration: none;
          font-size: 24px;
          min-width: 100px;
          text-align: center;
          transition: 0.1s;
      }

      .nav > a::after {
          content: "";
          display: block;
          width: 100%;
          height: 1px;
          margin-top: 5px;
          transition: 0.1s;
      }

      .nav > a:hover {
          font-weight: 800;
          background-color: transparent;
      }
      .nav > a:hover::after {
          height: 4px;
          border-radius: 3px 3px 0 0;
      }
      
      .subnav {
          position: absolute;
          bottom: -30px;
          left: 0;
          height: 28px;
          
          display: flex;
          align-items: center;
      }
      .subnav:empty {
          display: none;
      }
      .subnav a {
          text-decoration: none;
      }
      .subnav a:hover {
          font-weight: bold;
          background-color: var(--pink);
          color: var(--base);
      }
      
      .subnav > a[data-color="red"]:hover { background-color: var(--red); }
      .subnav > a[data-color="yellow"]:hover { background-color: var(--yellow); }
      .subnav > a[data-color="green"]:hover { background-color: var(--green); }
      .subnav > a[data-color="blue"]:hover { background-color: var(--blue); }
      .subnav > a[data-color="mauve"]:hover { background-color: var(--mauve); }
      .nav > a[data-color="red"]::before { content: ""; }
      .nav > a[data-color="yellow"]::before { content: ""; }
      .nav > a[data-color="green"]::before { content: ""; }
      .nav > a[data-color="blue"]::before { content: ""; }
      .nav > a[data-color="mauve"]::before { content: ""; }
      .nav > a[data-color="red"]::after { background-color: var(--red); }
      .nav > a[data-color="yellow"]::after { background-color: var(--yellow); }
      .nav > a[data-color="green"]::after { background-color: var(--green); }
      .nav > a[data-color="blue"]::after { background-color: var(--blue); }
      .nav > a[data-color="mauve"]::after { background-color: var(--mauve); }
    </style>
  </head>
  <body>
    <div class="popup" id="popup">
        <div class="card" id="warningCard">
            <h1>warning!</h1>
            <p>this site contains the following content</p>
            <ul>
                <li>cookies</li>
                <li>un-mobile-friendly pages</li>
                <li>sexual references/themes</li>
            </ul>
            <button id="warningConfirm" type="submit">enter</button>
        </div>
    </div>
    <div class="background"></div>
    <div class="topbar">
        <h1 class="title">&lt;olifurz\&gt;</h1>
        <div class="nav">
            <a id="a" href="/" data-color="red">home</a>
            <a id="b" href="/me" data-color="yellow">me</a>
            <a id="c" href="/work" data-color="green">work</a>
            <a id="d" href="/blog" data-color="blue">blog</a>
            <a id="e" href="/talk" data-color="mauve">talk</a>

            {% if category == 1 %} <!-- home -->
                <div class="subnav"></div>
            {% elif category == 2 %}
                <div class="subnav">
                    <!-- <a data-color="yellow" href="/me/ratings">coaster ratings</a> -->
                </div>
            {% elif category == 3 %}
                <div class="subnav"></div>
            {% elif category == 4 %}
                <div class="subnav"></div>
            {% elif category == 5 %}
                <div class="subnav"></div>
            {% else %}
            {% endif %}

        </div>
    </div>
    <div class="content">
        {{ content | safe }}
    </div>
    <p style="color: var(--overlay0)">&copy; olifurz 2025 - <b style="color: var(--yellow); opacity: 0.6;">site in active wip!</b> - <button id="toggleAnimButton" onclick="toggleAnimations()">disable animations</button></p>
  </body>

  <script>
      document.addEventListener("DOMContentLoaded", function () {
          function getCookieByName(name) {
              const match = document.cookie.match(new RegExp('(^| )' + name + '=([^;]+)'));
              if (match) return decodeURIComponent(match[2]);
              return null;
          }

          let hasAcceptedWarning = getCookieByName("acceptedWarning");

          if (!hasAcceptedWarning) {
              document.getElementById('popup').style.display = 'flex';
          }

          document.getElementById("warningConfirm").onclick = function () {
              document.cookie = "acceptedWarning=true";

              const popup = document.getElementById('popup');
              popup.style.animation = "exit 0.2s linear";
              const warningCard = document.getElementById('warningCard');
              warningCard.style.animation = "exitCard 0.2s ease-in";

              setTimeout(() => {
                  popup.style.display = 'none';
              }, 200);
          };

          const toggleAnimButton = document.getElementById('toggleAnimButton');

          if (getCookieByName("noAnimations") === "true") {
              document.body.classList.add("noAnimations");
              toggleAnimButton.innerText = "enable animations";
          } else {
              toggleAnimButton.innerText = "disable animations";
          }

          window.toggleAnimations = function () {
              if (document.body.classList.contains("noAnimations")) {
                  document.body.classList.remove("noAnimations");
                  document.cookie = "noAnimations=false";
                  toggleAnimButton.innerText = "disable animations";
              } else {
                  document.body.classList.add("noAnimations");
                  document.cookie = "noAnimations=true";
                  toggleAnimButton.innerText = "enable animations";
              }
          }
      });
  </script>
</html>