---
title: olifurz
---

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} ~ olifurz.com</title>
    <link rel="stylesheet" href="/media/styles.css" />
    <link rel="icon" type="image/x-icon" href="/media/favicon.ico">
</head>

<body>
    <div class="background"></div>
    {{ content }}
</body>

</html>