---
title: olifurz
---

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} ~ olifurz.com</title>
    <link rel="stylesheet" href="/assets/styles.css" />
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
</head>

<body>
    <div class="background"></div>
    {{ content }}
</body>

<script>
    document.querySelectorAll('a').forEach(link => {
        link.addEventListener('click', function (event) {
            event.preventDefault();

            var start = new Audio("/assets/sounds/start.mp3");
            start.volume = 0.5;
            start.currentTime = 0;
            start.play();

            setTimeout(() => {
                window.location.href = this.href;
            }, 50);
        });
    });
</script>
<script src="/scripts/api.js" type="module"></script>

</html>