---
layout: base.liquid
---
<style>
    .navbar {
        padding: 6px;
        text-align: center;
    }
    .navbar > a {
        flex-grow: 1;
        flex-basis: 0;
    }
</style>


<div class="background"></div>

<div class="split" style="width: 100%; height: auto;">
    <div style="position: relative;">
        <h1 style="position: absolute; color: var(--text); bottom: -15px; left: 0; font-size: 84px; font-weight: bold;">olifurz<span style="font-size: 50%;">.com</span></h1>
    </div>
    <div>
        <img style="float: right; padding-top: 15px; filter: drop-shadow(4px 4px 6px var(--surface1)); border: none;" src="/assets/images/konata-wide.png" width="400px" height="auto" alt="">
    </div>
</div>
<div class="stack" style="width: 100%; height: auto;">
    <div class="card navbar split">
        <a class="button nav-button" href="/">home</a>
        <a class="button nav-button" href="/me/">about</a>
        <a class="button nav-button" href="/blog/">blog</a>
        <a class="button nav-button" href="/projects/">projects</a>
        <a class="button nav-button" href="/resources/">resources</a>
        <a class="button nav-button" href="/contact/">contact</a>
    </div>
    
    <div class="card" id="content">
        {{ content }}
    </div>
</div>

<script src="/scripts/site.js"></script>