---
layout: base.liquid
---
<style>
    .navbar {
        padding: 8px;
        text-align: center;
    }
    .navbar > a {
        flex-grow: 1;
        flex-basis: 0;
    }
</style>

<div class="stack">
    <div class="card navbar split">
        <a class="button nav-button outlined" href="/" style="flex-grow: 0; min-width: 40px;">index</a>
        <a class="button nav-button" href="/me/">about</a>
        <a class="button nav-button" href="/blog/">blog</a>
        <a class="button nav-button" href="/guestbook/">guestbook</a>
        <a class="button nav-button" href="/resources/">resources</a>
        <a class="button nav-button" href="/contact/">contact</a>
    </div>

    {{ content }}
</div>