---
layout: base.liquid
---

<div class="background"></div>

<div class="card" style="padding: 0; line-height: 0; text-align: center; height: 150px;">
    <img src=" /media/art/banner.png"
        style="opacity: 0.15; object-fit: cover; width: 100%; height: 100%; position: absolute; top: 0; left: 0;">
    <h1
        style="color: var(--pink); position: absolute; bottom: -10px; left: 15px; font-size: 48px; font-weight: 800; letter-spacing: -3px;">
        olifurz<span style="font-size: 50%; letter-spacing: 0;">.com</span>
    </h1>

    <h2 style="color: var(--pink); position: absolute; right: 15px; bottom: 0px; font-weight: bold;"><i>site revamp beta
            2</i></h3>

</div>

<div class="split" style="gap: 0; width: 800px;">
    <div style="flex: 0 0 200px;">
        <div class="card" style="height: 100%; border-top: 0;">
            <div class=" card-title">navigation</div>
            <div class="card-content">
                <ul>
                    <li>core
                        <ul>
                            <li><a href="/">home</a></li>
                            <li><a href="/me/">about me</a></li>
                            <li><a href="/blog/">blog</a></li>
                            <li><a href="/contact/">contact</a></li>
                        </ul>
                    </li>
                    <li>meta
                        <ul>
                            <li><a href="/resources/">resources</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class=" card-title">my button</div>
            <div class="card-content" style="text-align: center;">
                <a href="https://olifurz.com"><img src="/button.gif"></a>
                <button id="copyButton">copy code</button><br />
                <p style="margin-top: 10px; margin-bottom: 0; color: var(--subtext0)"><i>(please hotlink!)</i>
                </p>
            </div>
        </div>
    </div>
    <div>
        <div class="stack" style="margin: 10px; margin-right: 0;">
            {{ content }}
        </div>
    </div>
</div>

<div class="card" style="text-align: center; padding: 5px;">
    <p style="margin: 0;">&copy; olifurz 2025 ~ <a href="https://github.com/olifurz/site" target="_blank">source
            code</a></p>
</div>

<div class="messagebox" id="siteWarning" style="display: none;">
    <div class="messagebox-title" id="draggable">! WARNING !</div>
    <div class="messagebox-content">
        <img src="/media/icons/general/caution.png">
        this site contains autoplay sound, swearing and has no mobile support<br />
        do not proceed if you're under 13 years
        old
    </div>
    <div class="messagebox-buttons">
        <button onclick="acceptWarning()">OK</button>
    </div>
</div>

<script src="/scripts/site.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", (event) => {
        document.getElementById('copyButton').addEventListener('click', () => {
            const htmlContent = '<a href="https://olifurz.com"><img src="https://olifurz.com/button.gif" alt="olifurz.com"></a>';
            navigator.clipboard.writeText(htmlContent);
        });

        var accepted = site.getCookieByName('hasAcceptedWarning');
        if (!accepted) {
            document.getElementById('siteWarning').style.display = 'block';
        }
    });

    function acceptWarning() {
        const expires = new Date(Date.now() + 365 * 24 * 60 * 60 * 1000).toUTCString();
        document.cookie = 'hasAcceptedWarning=true; expires=' + expires + '; path=/; SameSite=Lax';
        document.getElementById('siteWarning').remove();
    }
</script>