---
layout: default.liquid
---

<style>
    #blogpost>img {
        display: block;
        margin: 15px auto 15px auto;
        width: 50%;
    }
</style>

<div id="blogpost">
    {% assign page_number = page.url | split: '/' | last %}
    <h3>{{ title }}</h3>
    <h5>{{ page.date | date: "%d/%m/%Y" }}</h5>
    <hr>
    {{ content }}
</div>