---
layout: base.liquid
category: 4
---

<style>
    #blogpost>img {
        display: block;
        margin: 15px auto 15px auto;
        width: 50%;
    }
</style>

<div id="blogpost" class="card">
    {{ content }}
    <hr />
    <i style="color: var(--subtext0)">posted {{ page.date | date: "%d/%m/%Y" }}</i>
</div>