---
layout: default.liquid
---

<style>
    #blogpost>img {
        display: block;
        margin: 15px auto 15px auto;
        width: 50%;
    }
</style>

<div id="blogpost" class="card">
    {% assign page_number = page.url | split: '/' | last %}
    <div class="card-title">entry #{{ page_number }}</div>
    <div class="card-content">
        <h1>{{ title }}</h1>
        <h4>{{ page.date | date: "%d/%m/%Y" }}</h4>
        <hr>
        {{ content }}
    </div>
</div>